<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="ISO-8859-1">
		<title>Idea MS</title>
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
		<link th:href="@{/css/home_nav.css}" rel="stylesheet" />
	</head>
	
	<body>
		<!-- navbar -->
		<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/}">
					<img alt="logo image" src="/images/logo.png" height="100" width="100">
					<span class="blog-name">Idea Ms</span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/}">Home</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" th:href="@{/list_ideas}">View Ideas</a>
						</li>
						<li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')">
							<a class="nav-link" th:href="@{/list_users}">View Users</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/register}">Register</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/login}">Login</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- my welcome section -->
		
		<div class="container-fluid padding"sec:authorize="hasAnyAuthority('USER')">
			<div class="row welcome text-center">
				<div class="col-12">
					<h1 class="display-4">Built with ease</h1>
				</div>
				<hr>
				<div class="col-12">
					<p class="lead">Welcome to my Idea management system. It is a system inteded to 
					help you capitalise on the ideas to the very best
					</p>
				</div>
			</div>
			<hr class="my-4">
		</div>
		
		<!-- For the view ideas table -->
		
		<div class="container-fluid padding">
			<div class="search_div">
				<form th:action="@{/list_ideas}">
					
					<input type="text" name="keyword" th:value="${keyword}"/>
					&nbsp;
					<input type="submit" value="Search"/>
					&nbsp;
					<input type="button" value="Clear" onclick="clearSearch()"/>
				</form>
			</div>
			<br>
			<br>
			<a th:href="@{/add_idea}">
				<button type="button" class="btn btn-primary">
			    	Create New Idea
				</button>
			</a>
			
			<div>
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Idea ID</th>
							<th>Idea Title</th>
							<th>Idea Description</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="idea: ${listIdeas}">
							<td th:text="${idea.idea_id}">Idea ID</td>
							<td th:text="${idea.idea_title}">Idea Title</td>
							<td th:text="${idea.idea_description}">Idea Description</td>
							<td>
								<a th:href="@{'/idea/edit/' + ${idea.idea_id}}">Edit</a>
								&nbsp;&nbsp;&nbsp;
								<div sec:authorize="hasAnyAuthority('ADMIN')" >										
									<a th:href="@{'/idea/delete/' + ${idea.idea_id}}">Delete</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
<!-- 			<div> -->
<!-- 				Total Ideas: [[${totalIdeas}]]&nbsp;&nbsp; - &nbsp;&nbsp; Page [[${currentPage}]] of [[${totalPages}]] &nbsp;&nbsp; - -->
<!-- 				&nbsp;&nbsp; -->
<!-- 				<span th:each="i: ${#numbers.sequence(1, totalPages)}"> -->
<!-- 					<a th:if="${i != currentPage}" th:href="@{'/page/' +${i}}">[[${i}]]</a> -->
<!-- 					<span th:unless="${i != currentPage}">[[${i}]]</span> -->
<!-- 				</span> -->
<!-- 			</div> -->
		
		<!-- my footer -->
		<div class="footer">
			<hr class="light">
			<h5>&copy; flyhubug.com</h5>
		</div>
		
	</body>
	
</html>