<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Idea MS</title>
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
		
	</head>
	<body>
		<div class="container text-center">
			<br>
			<br>
			<div>
				<h4> Registration Successful</h4>
			</div>
			<br>
			<div>
				<h2><a th:href="@{/login}">Click here to login</a></h2>
			</div>
		</div>
	</body>
</html>