<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Registration Idea MS</title>
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
 		<link th:href="@{/css/form.css}" rel="stylesheet" /> 
<!--     	<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"> -->
		
	</head>
		<body>
		<div class="container text-center">
			<br>
			<br>
			<div>
				<h2> User Registration - Sign up</h2>
			</div>
			<br>
			
			
<!-- 			my form -->
			
				<form th:action="@{/process_register}" method="post" th:object="${user}" style="width:800px; margin: 0 auto;">
				  <!-- Email input -->
				  <div class="m-3">
				  <div class="form-group row">
				  	<label class="col-form-label col-4">Prefix</label>
				  	<div class="col-8">
				  		
				  		<select th:field="*{prefix_id}" class="form-control">
							<option th:each="prefix : ${prefixList}" th:value="${prefix.prefix_id}"  th:text="${prefix.prefix_name}"/>
						</select>
				  	</div>
				  	</div>
				  	<div class="form-group row">
				  		<label class="col-form-label col-4">First Name</label>
					  	<div class="col-8">
					  		
					  		<input class="form-control" type="text" th:field="*{first_name}" required/>
					  	</div>
					 </div>
					 <div class="form-group row">
					 	<label class="col-form-label col-4">Middle Name</label>
					  	<div class="col-8">
					  		
					  		<input class="form-control" type="text" th:field="*{middle_name}" required/>
					  	</div>
				    </div>
				  <div class="form-group row">
				  	<label class="col-form-label col-4">Last Name</label>
				  	<div class="col-8">
				  		
				    	<input class="form-control" type="text" th:field="*{last_name}" required/>
				  	</div>
				  </div>
				  <div class="form-group row">
				  	<label class="col-form-label col-4">Gender</label>
				  	<div class="col-8">
				  		
				  		<select th:field="*{gender_id}" class="form-control">
							<option th:each="gender : ${genderList}" th:value="${gender.gender_id}"  th:text="${gender.gender_name}"/>
						</select>
				  	</div>
				  </div>
				  <div class="form-group row">
				  <label class="col-form-label col-4">Email address</label>
				  	<div class="col-8">
				  		
				    	<input class="form-control" type="email" th:field="*{primary_email}" required/>
				  	</div>
				  	</div>
				  	<div class="form-group row">
				  		<label class="col-form-label col-4">Password</label>
					  	<div class="col-8">
					  		
					  		<input class="form-control" type="password" th:field="*{password}" required/>
					  	</div>
				  </div>
				  <br>
				  <div>
				  	<button type="submit" class="btn btn-primary ">Sign Up</button>
				  </div>
				  </div>
				  </form>
			</div>	
	</body>
</html>





